

body{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    background-image: url("https://get.pxhere.com/photo/sky-night-star-atmosphere-constellation-space-darkness-black-galaxy-nebula-outer-space-science-cool-image-astronomy-universe-cool-photo-midnight-phenomenon-astronomical-object-atmosphere-of-earth-computer-wallpaper-celestial-event-1410748.jpg");
}
a { 
    color: rgb(0, 0, 0); 
}
