
    table {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(238, 115, 115);
    }
    
    td, th {
    border: 1px solid #ea0707;
    text-align: left;
    padding: 8px;
    }
    
    tr:nth-child(even) {
    background-color: #fecbcb;
    }